﻿@page "/crear-periodo"
@inject HttpClient Http
@using Compensation.Client.Data
@inject PeriodoService periodoService
@inject NavigationManager UriHelper



<h3>Crear Porcentaje Flat</h3>
<FormularioPeriodo TextoBoton="Crear" OnValidSubmit="@CrearPeriodo" periodo="@periodo" />

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    WSMY686 periodo = new WSMY686();

    async Task CrearPeriodo()
    {
        var authState = await authenticationState;
        var usuario = authState.User;






        periodo.FechaActualiza = DateTime.Now;
        periodo.UsuarioActualiza = usuario.Identity.Name;


        var claims = usuario.Claims.ToList();
        foreach (var item in claims)
        {
            Console.WriteLine(item.Type+"rrrrrrr" + item.Value);
            periodo.UsuarioActualiza = item.Type;
        }

        await periodoService.InsertPeriodoAsync(periodo);
        UriHelper.NavigateTo("indice-periodo");
    }
}

