@page "/indice-FlatComisionGerente"
@inject HttpClient Http
@using Compensation.Client.Data
@inject FlatComisionService flatComisionService
@inject IJSRuntime JS
<h3>% Flat Comision Gerente</h3>

@code {

}
