﻿@page "/indice-ResumenComisionHistorico"

@using Compensation.Client.Data

@inject HttpClient Http
@inject PeriodoService periodoService
@inject OficinaService oficinaService
@inject IJSRuntime JS

@inject ResumenComisionHistoricoService resumenComisionHistoricoService

@inject NavigationManager UriHelper

<h3>Resumen Comisión Histórico</h3>
<br />

<div class="card" style="width: 58rem;">

    <div class="card-body">
        <h5 class="card-title">Filtros</h5>

        @if (periodoList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Periodo</h5>
                            <p class="card-text"></p>
                            <select class="custom-select" id="periodoDrop" @onchange="@PeriodoSelectionChanged">
                                <option value="">-- Select Periodo --</option>
                                @if (periodoList != null)
                                {
                                    @foreach (var itemOficina in periodoList)
                                    {
                                        <option value="@itemOficina.ID">@itemOficina.FechaDescripcion</option>
                                    }
                                }


                            </select>
                        </div>
                    </div>
                </div>
                @if (Rol == "393")
                {
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Oficina</h5>
                                <p class="card-text"></p>
                                <select class="custom-select" id="oficinaDrop" @onchange="@OficinaSelectionChanged">
                                    <option value="">-- Select Oficina --</option>
                                    @if (oficinaList != null)
                                    {
                                        @foreach (var itemOficina in oficinaList)
                                        {
                                            <option value="@itemOficina.CodOficina">@itemOficina.NombreOficina</option>
                                        }
                                    }


                                </select>
                            </div>
                        </div>
                    </div>
                }


            </div>

        }

    </div>
</div>


@if (historicoView == null)
{
    <tesxt>  </tesxt>
}
else if (historicoView.Length == 0)
{
    <tesxt>  No existen datos en histórico....</tesxt>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mantenimiento de Periodo</h3>
                </div>
                <div class="panel-body">
                    <table class="display" style="width:100%" id="example">
                        <thead>

                            <tr>
                                <th>Código</th>
                                <th>Nombre Vendedor</th>
                                <th>Ficha</th>
                                <th>Monto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in historicoView)
                            {
                                <tr>
                                    <td>@item.CodigoVendedor</td>
                                    <td>@item.NombreVendedor</td>
                                    <td>@item.Ficha</td>
                                    <td>@item.MontoString</td>
                                    <td>
                                        <a class="btn btn-success" href="/indice-DetalleComisionHistorico/@item.IdPeriodo/@item.CodigoVendedor">Ver Detalle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
}

@code {

    int IdPeriodo = 0;
    int IdOficina = 0;
    string Rol = "";
    string usuarioConectado = "";

    WSMY686[] periodoList { get; set; }
    WSMY686[] periodoView { get; set; }

    PCOficina pCOficina = new PCOficina();
    PCOficina[] oficinaList { get; set; }

    PCResumenComisionHistorico[] historicoView { get; set; }
    PCResumenComisionHistorico[] historico { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var authState = await authenticationState;
        var usuario = authState.User;

        var claims = usuario.Claims.ToList();
        if (claims != null)
        {
            foreach (var item in claims)
            {

                if (item.Type == "Rol")
                {
                    Rol = item.Value;

                }
                if (item.Type == "unique_name")
                {

                    usuarioConectado = item.Value;
                }

            }
        }
        await GetDataPeriodo();
        await GetDataOficina();

    }

    async Task GetDataPeriodo()
    {
        periodoView = await periodoService.getPeriodoAsync();

       
        periodoList = periodoView.OrderByDescending(p => p.Hasta).ToArray();
    }

    async Task GetDataOficina()
    {
        oficinaList = await oficinaService.GetOficinaAsync();
    }

    async Task PeriodoSelectionChanged(ChangeEventArgs e)
    {

        if (int.TryParse(e.Value.ToString(), out int id))
        {
            IdPeriodo = id;

            historicoView = null;
            if (Rol == "394")
            {
                await GetDataResumenComisionHistorico();
                await JS.InvokeAsync<object>("TestDataTablesAdd", "#example");
            }

        }

    }

    async Task OficinaSelectionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            IdOficina = id;

            historicoView = null;

            await GetDataResumenComisionHistorico();
            await JS.InvokeAsync<object>("TestDataTablesAdd", "#example");
        }
    }


    async Task GetDataResumenComisionHistorico()
    {

        //Busca resumen comision historico por IdPeriodo
        historico = await resumenComisionHistoricoService.ResumenComisionHistoricoAsync(IdPeriodo);

        //Filtro por Oficina



        if (Rol == "394")
        {
            Console.WriteLine("Usuario Conectad:  " + usuarioConectado);
            historico = historico.Where(item => item.CodigoVendedor == usuarioConectado).ToArray();
        }
        else
        {
            historico = historico.Where(item => item.CodigoOficina == IdOficina).ToArray();
        }

        //Vista filtrada
        historicoView = historico;

    }

}
