﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Compensation.Client</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

            <ul class="nav flex-column">


                @if (Rol == "393")
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-calculo">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Calculo Comision
                        </NavLink>

                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-temporal">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Temporal Comision
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-TemporalRecibo">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Temporal Por Recibo
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-TemporalOrden">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Temporal Por Orden
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-historico">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historico Comision
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-historicoOrden">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historico por Orden
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-historicoRecibo">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historico por Recibo
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-ResumenComisionHistorico">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Resumen Historico
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-pagomanual">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Pago Manual
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <Compensation.Client.Shared.Menu></Compensation.Client.Shared.Menu>
                    </li>

                }


                @if (Rol == "394")
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-ResumenComisionHistorico">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Resumen Historico
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-historicoOrden">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historico por Orden
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="indice-historicoRecibo">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historico por Recibo
                        </NavLink>
                    </li>
                }

            </ul>


        </div>


    </Authorized>
</AuthorizeView>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public string Rol = "";

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    
    protected async override Task OnParametersSetAsync()
    {

         
         
            var authState = await authenticationState;
            var usuario = authState.User;

            var claims = usuario.Claims.ToList();
            if (claims!=null)
            {
                foreach (var item in claims)
                {

                    if (item.Type == "Rol")
                    {
                        Rol = item.Value;

                    }

                }
            }


        Console.WriteLine("Rol desde NavMenu:  " + Rol);
    }


    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;


    }
}
